<h1>Tasks list :</h1>
<% @tasks.each do |task| %>
  <ul>
    <li><%= link_to "#{task[:title]}", task_path(task[:id]) %></li>
  </ul>
<% end %>


<div class="create">
  <%= link_to "Create task", new_path %>
</div>
