<h1><%= @task[:title] %></h1>

<h3>Task's details:</h2>

<p><%= @task[:details] %></p>


<div class="edit">
  <%= link_to "Edit task", edit_task_path %>
</div>


<div class="list">
  <%= link_to "Back to list", tasks_path %>
</div>
